@{ 
    Layout = "~/Areas/Accounts/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <a href="/Accounts/User/Create" class="btn btn-outline-success">Add User</a>
    <table id="myTable" class="table table-bordered display">
        <thead>
            <tr>
                <th>id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>UserName</th>
                <th>IdPoof</th>
                <th>Role</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.listUsers)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.UserName</td>
                <td>@item.IdPoof</td>
                <td>@item.Role</td>
                <td><a class="btn btn-secondary" asp-area="Accounts" asp-controller="User" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                @*<td><a class="btn btn-outline-danger" id="@item.Id">Delete</a></td>*@
            </tr>
            }
        </tbody>
    </table>
</div>