@model IEnumerable<ShareTrip>
@{
    var key = 1;
}
<div class="container" style="margin-top:100px">
    <div class="row">
        <table class="table table-hover w-100">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">From To</th>
                    <th scope="col">Start To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@(key++)</th>
                        <td>@item.FromTo</td>
                        <td>@item.StartTo</td>
                        <td>@item.Date</td>
                        <td>@item.Amount</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                @if (item.Status == 1)
                                {
                                    <a asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-danger">Cancel</a>

                                }
                                <a asp-action="Delete" asp-route-id="@item.Id" onclick="myNotification()" class="btn btn-warning">View</a>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script>
    function myNotification() {
        confirm("Delete the item")
    }
</script>